/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1 {
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 20px;
}

html,body,
#app{height: 100%; 
}
#app{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 740px;
  margin:0 auto;
  display: flex;
  flex-direction: row;
  border-radius: 30px;  
  box-shadow: 5px 5px 20px 5px rgba(101, 87, 255, 0.15);
}

.left-side,
.right-side{
  border-radius: 30px;  
  padding: 40px;
  width: 50%; 
}

.left-side {
  background-image: linear-gradient(to bottom, hsl(251, 100%, 64%), hsl(245, 81%, 54%));
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:43px 60px;
}

.right-side{
  display: flex;
  flex-direction: column;
  font-family: 'Hanken Grotesk', sans-serif;
  padding: 46px 40px;
  
  
  

}

.summary{
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 800;
  color: #242334;
}

.great{
  font-size: 30px;
  text-align: center;
  font-family: 'Hanken Grotesk', sans-serif;
  display: block;
  margin-bottom: 23px;
  font-weight: 600;
  
 
  
}

.paragraph {
  text-align: center;
  opacity:0.5;
  font-size: 19px;
  font-family: 'Hanken Grotesk', sans-serif;
  font-weight: 400;
  line-height: 23px;

}

.title{
  text-align: center;
  opacity: 0.5;
  font-family: 'Hanken Grotesk', sans-serif;
  margin-bottom: 40px;;
  font-size: 24px;
  
}

.score {
  text-align: center;
  font-size: 40px;
  font-family: 'Hanken Grotesk', sans-serif;
  width: 200px;
  height: 200px;
  border-radius: 100%;  
  background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
  margin-bottom: 40px;
  display: flex;
  flex-flow:column;
  justify-content:center;
  
  
}

.flex-content{
  font-weight: bold;
  font-size: 70px;
  margin-bottom: 5px;
  
}

.heden{
  font-size: 18px;
  opacity: 0.5;  
}

.record
{
  width: 100%;
  height: 54px;
  align-self: baseline;
  border-radius: 10px; 
  justify-content: space-between;
  margin-bottom: 15px;
  font-family: 'Hanken Grotesk', sans-serif;
  align-items:center;
  display:flex;  
  
}

.image{
  margin-inline: 15px;
}

.continue{
  background-color:hsl(224, 30%, 27%) ;
  border-radius: 70px;
  width: 100%;
  height: 56px;
  color: white;
  margin-top: 27px;
  border: 0;
  font-size: 16px;
  font-weight: 600;
}

:hover.continue{
 background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
 cursor:pointer;
}
 
.red{
 background-color:hsl(0, 100%, 67%,0.05)  ;
 color:hsl(0, 100%, 67%) ;
 
}

.total{
  color: #242334;
  font-weight: 800;
  margin-inline:20px ;
}

.from-value{
  opacity: 0.5;
}


.yellow{
  background-color:hsl(39, 100%, 56%,0.05)  ;
  color:hsl(39, 100%, 56%);
  
}

.green{
  background-color:hsl(166, 100%, 37%,0.05) ;
  color:hsl(166, 100%, 37%) ;
  
}

.purple{
  background-color:hsl(234, 85%, 45%,0.05) ;
  color: hsl(234, 85%, 45%);
  
}
 
.value-name{
display: flex;

}


@media screen and (max-width: 620px) {

  .container {
    flex-direction: column;
    width: 100%;
  }

  .left-side,
.right-side{
  width: 100%; 
  box-sizing: border-box;
  border-radius: 0 0 30px 30px;

  
}

#app{height: auto;
}
}

.attribution
{
  padding: 10px;
  text-align: center;
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 14px;
  
  
}
